.mainContainer {
  margin: 0;
}

/* Create classes for darkmode vs light mode */

.dark-mode-text {
  padding: 0.25rem;
}

.toolbar {
  background-color: hsl(0, 0%, 100%);
  color: black;

  padding: 0 !important;
  padding: 0 5% !important;
}

.home-page {
  padding: 0 5% !important;
}

.filter-form {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  margin-top: 2rem !important;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.input-label {
  width: 200px;
}
